/* LoginPage.css */
.body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  background: linear-gradient(120deg, #095279, #00d4ff);
  height: 100vh;
  overflow: hidden;
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  background: white;
  border-radius: 10px;
  padding: 20px;
}

.container h2 {
  text-align: center;
  margin-bottom: 20px; /* Adjusted margin */
  border-bottom: 1px solid #adadad;
  padding-bottom: 10px; /* Adjusted padding */
}

.input-group {
  position: relative;
  margin: 20px 0; /* Adjusted margin */
}

.input-group label {
  position: absolute;
  top: 10px; /* Adjusted position */
  left: 10px;
  color: #adadad;
  font-size: 14px;
  transition: .3s; /* Adjusted transition */
}

.input-group input {
  width: 100%;
  padding: 10px; /* Adjusted padding */
  font-size: 16px;
}

.btn {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #28a745;
  color: #fff;
  cursor: pointer;
}