/* RegisterPage.css */
.container-register {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  background: white;
  border-radius: 10px;
  padding: 20px;
}

.h2-register {
  text-align: center;
}

.input-group-register {
  margin-bottom: 20px;
}

.input-group-register label {
  display: block;
  margin-bottom: 5px;
  font-size: 15px;
  color: #adadad;
}

.input-group-register input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.btn-register {
  width: 20%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #28a745;
  color: #fff;
  cursor: pointer;
  margin: 0 auto;
  display: block;
  font-size: 15px;
}

.btn-register:hover {
  background-color: #218838;
}
